/*  Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Roboto+Condensed:ital,wght@1,300;1,400&display=swap");
/* The top that says editor 1 */
.top {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 250%;
    border-top: black 5px solid;
    border-left: black 5px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: black 5px solid;
    border-right: black 5px solid;
}
/* The CSS of the editor box */
.editor {
    font-family: "Nunito Sans", sans-serif;
    font-size: 200%;
}
